{% extends "admin.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name }}
            </p>
            <p>
                {{ form.tags.label }}<br>
                {{ form.tags }}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description }}
            </p>
            <p>
                {{ form.colour.label }}<br>
                {{ form.colour }}
            </p>
            <p>
                {{ form.primary_image.label }}<br>
                {{ form.primary_image }}
            </p>
            <p>
                {{ form.secondary_image.label }}<br>
                {{ form.secondary_image }}
            </p>
            <p>
                {{ form.tertiary_image.label }}<br>
                {{ form.tertiary_image }}
            </p>
            <p>
                {{ form.ean.label }}<br>
                {{ form.ean }}
            </p>
            <p>
                {{ form.price.label }}<br>
                {{ form.price }}
            </p>
            <p>
                {{ form.currency.label }}<br>
                {{ form.currency }}
            </p>
            <p>
                {{ form.inventory.label }}<br>
                {{ form.inventory }}
            </p>
            <p>
                {{ form.units_sold.label }}<br>
                {{ form.units_sold }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
    </form>
{% endblock %}

id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(128), index=True)
    tags = db.Column(db.String(128), index=True)
    description = db.Column(db.String(512), index=True)
    colour = db.Column(db.String(128), index=True)
    primary_image_loc = db.Column(db.String(128), index=True)
    secondary_image_loc = db.Column(db.String(128), index=True)
    tertiary_image_loc = db.Column(db.String(128), index=True)
    ean = db.Column(db.Integer)
    price = db.Column(db.Integer)
    currency = db.Column(db.String(8), index=True)
    inventory = db.Column(db.Integer)
    units_sold = db.Column(db.Integer)