/* FONTS
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto&display=swap" rel="stylesheet">
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Didact Gothic', sans-serif;
}

p,a,li {
    font-family: 'Roboto', sans-serif;
}

.bg-blk {
    background: black;
}